body {
  background-color: goldenrod;
  color: black;
}
/* START inline-block hack */
#table {
  font-size: 0;
  letter-spacing: 0;
}
.column {
  display: inline-block;
  width: 5em;
}
/* END inline-block hack */

.column {
  font-size: 30px;
  letter-spacing: 2px;
}
.th {
  background-color: black;
  color: goldenrod;
}
.submit {
  right: 0;
  background-color: black;
  color: goldenrod;
}

h1,
p {
  padding: 0.25em 0;
}

/* START pretty borders */
p {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
}
.column:last-child p,
.column:nth-child(4) p {
  border-right: 1px solid black;
  border-radius: 5px;
}
/* END pretty borders */
.spacer {
  border: none;
}
.wrong {
  background-color: orange;
}
