body {
  background-color: lightblue;
  color: darkblue;
}
/* START inline-block hack */
#table {
  font-size: 0;
  letter-spacing: 0;
}
.column {
  display: inline-block;
  width: 5em;
}
/* END inline-block hack */

.column {
  font-size: 30px;
  letter-spacing: 2px;
}
.th {
  background-color: darkblue;
  color: lightblue;
}
.submit {
  right: 0;
  background-color: darkblue;
  color: lightblue;
}

h1,
p {
  padding: 0.25em 0;
}

/* START pretty borders */
p {
  border-left: 1px solid darkblue;
  border-bottom: 1px solid darkblue;
  border-radius: 5px;
}
.column:last-child p,
.column:nth-child(3),
.column:nth-child(5) p {
  border-right: 1px solid darkblue;
  border-radius: 5px;
}
/* END pretty borders */
.column:last-child p,
.column:nth-child(3) {
  width: 10em;
}
.spacer {
  border: none;
}
.wrong {
  background-color: lightblue;
}
